# This file is a temporary workaround to suppress npm peer dependency warnings
# coming from the AWS Amplify packages. These warnings are not relevant to our
# current work on the Next.js front-end with Shopify.
#
# This line tells npm to use an older, less-strict method for handling
# peer dependencies, which prevents the warnings from appearing.
#
# This file can be safely deleted in the future if we decide to address
# the Amplify dependencies directly. Deleting it will cause the warnings to reappear.
legacy-peer-deps=true 