@import "tailwindcss";
@import "tw-animate-css";

:root {
  --primary: #F25287;
  --secondary: #F9D423;
  --accent: #00A19D;
  --neutral-light: #FEF9E7;
  --neutral-dark: #343A40;
  --white: #ffffff;
  --destructive: #E63946;
  --subtle-border: #E5E7EB;
}

@layer components {
  .btn-primary {
    @apply bg-[var(--primary)] text-[var(--white)] rounded-full px-8 py-3 font-bold uppercase tracking-wider transition-transform duration-300 ease-in-out hover:scale-105;
  }
  .btn-secondary {
    @apply bg-[var(--secondary)] text-[var(--neutral-dark)] rounded-full px-8 py-3 font-bold uppercase tracking-wider transition-transform duration-300 ease-in-out hover:scale-105;
  }
}

body {
  color: var(--neutral-dark);
  background-color: var(--neutral-light);
}

@media (min-width: 768px) {
  .yarl__root .yarl__navigation_prev {
    left: 0.5rem !important;
  }
  .yarl__root .yarl__navigation_next {
    right: 0.5rem !important;
  }
}

@media (max-width: 767px) {
  .yarl__navigation_prev,
  .yarl__navigation_next {
    background-color: transparent !important;
  }
}

.yarl__button {
  margin: 0;
}

.yarl__navigation_prev,
.yarl__navigation_next {
  margin: 0.5rem;
}
